body {
    background-color: #121212;
}

.camera_image {
    height: 30vw;
    width: 70vw;
    background-color: #1e1e1e;
    position: absolute;
    left: 13.5vw;
    top: 9vw;
    /* Keeps the video contained within this box */
    overflow: hidden;
}

/* --- NEW: This makes the camera fit perfectly --- */
.video_feed_stream {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; /* Puts video at the bottom layer */
}

.text_messages {
    height: 4vw;
    width: 20vw;
    background-color: #121212;
    position: absolute;
    left: 23vw;
    bottom: 0.2vw;
    color: white;
    text-align: center;
    font-size: 2vw;
    /* Ensures text sits ON TOP of the video */
    z-index: 1;
}

.control {
    height: 4vw;
    width: 4vw;
    background-color: #1e1e1e;
    position: absolute;
    border-radius: 20vw;
    cursor: pointer;
    /* Ensures buttons sit ON TOP of everything */
    z-index: 2;
}

.camera.control {
    left: 30vw;
    top: 42vw;
}

.microphone.control {
    left: 40vw;
    top: 42vw;
}

.text.control {
    left: 50vw;
    top: 42vw;
}

.close.control {
    left: 60vw;
    top: 42vw;
}

.image {
    height: 4vw;
    width: 4vw;
    padding: 0.75vw;
    box-sizing: border-box; /* Prevents padding from making the image too big */
}

.control:hover {
    transform: scale(0.8);
    transition: transform 0.2s ease; /* Adds smooth animation */
}