<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SilentVoice</title>
        <link rel="icon" href="{{url_for('static',filename='images/SilentVoiceLogo.png')}}" type="image/png" sizes="64x64">
        <link rel="stylesheet" href="{{ url_for('static',filename='main_page_style.css') }}">
    </head>
    <body>
        <header>
            <a href="{{url_for('learn_page')}}"><div class="learn button"><p class="learn_text">Practice</p></div></a>
            <h1 class="heading">Silent Voice</h1>
            <a href="{{url_for('translate_page')}}"><div class="translate button"><p class="translate_text">translate</p></div></a>
        </header>
        <main>
            <h1 class="main_tag one">Your Hands. Their Voice.</h1>
            <h1 class="main_tag two">Seamless Sign Language</h1>
            <h1 class="main_tag three">Translation.</h1>
            <a href="{{url_for('home_page')}}" class="get_started_anchor"><div class="get_started_button"><p class="get_started_text">Get Started</p><img src="../static/images/right_arrow.png" class="get_started_image"></a></div>
            <img src="../static/images/image_one.png" class="image one">
            <img src="../static/images/image_two.png" class="image two">
            <img src="../static/images/image_three.png" class="image three">
            <img src="../static/images/image_four.png" class="image four">
            <img src="../static/images/image_five.png" class="image five">
            <img src="../static/images/image_six.png" class="image six">
            <img src="../static/images/image_eight.png" class="image seven">
            <img src="../static/images/image_nine.png" class="image eight">
            <img src="../static/images/image_ten.png" class="image nine">
            <img src="../static/images/image_eleven.png" class="image ten">
            <img src="../static/images/image_eleven.png" class="image eleven">
        </main>
    </body>
</html>